@font-face {
    font-family: 'Rubik-Medium';
    src: url(./Rubik-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url(./Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Rubik-SemiBold';
    src: url(./Rubik-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(./Inter-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url(./Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
}